al-mundo-resorts-search {
    .resorts-search {
        select {
            width: 40%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    al-mundo-resorts-search {
        .resorts-search {
            select {
                width: 100%;
            }
        }
    }
}
