al-mundo-resorts-list {
    .resorts-list {
        h1 {
            font-weight: bold;
        }
    }
    .resorts {
        .resort {
            padding: 15px 0px;
            background-color: #eee;
            margin-bottom: 40px;
            .resort-info {
                .resort-name {
                    margin: 0;
                    font-size: 25px;
                    font-weight: bold;
                }
                .price {
                    font-size: 30px;
                    font-weight: bold;
                    color: #DF6800;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    al-mundo-resorts-list {
        .resorts-list {
            text-align: center;
        }
        .resorts {
            img {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    al-mundo-resorts-list {
        .resorts-list {
            h1 {
                font-size: 25px !important;
            }
        }
    }
}
