<div class="resorts-list container-fluid">
    <h1>Al Mundo - Resorts list</h1>
    <al-mundo-resorts-search></al-mundo-resorts-search>
    <div class="resorts row">
        <div class="resort col-md-12" ng-repeat="resort in resortsListVm.resortData">
        <img class="col-md-2" ng-src="{{::resort.image}}" alt="">
        <div class="col-md-10 resort-info">
            <h2 class="resort-name">{{::resort.name}}</h2>
            <al-mundo-stars stars-amount="{{::resort.stars}}"></al-mundo-stars>
            <p class="price">{{::resort.price | currency}}</p>
        </div>
    </div>
    </div>
</div>
